// Colors

$purple-light: rgb(255, 51, 102);
$purple-color: rgb(235, 47, 100);
$purple-dark: rgb(186, 38, 93);

$black-color: rgb(51, 51, 51);
$gray-dark: rgb(119, 119, 119);
$gray-light: rgb(153, 153, 153);
